{% embed '_embed/show.html.twig' with {
    editUrl: path('app_team_edit', {'id': team.id}),
    deleteForm: include('team/_delete_form.html.twig'),
    breadcrumbList: {
        'Home': path('app_dashboard'),
        'Teams': path('app_team_index'),
    }
} %}
    {% block content %}
        <div class="panel">
            <table>
                <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ team.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ team.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endembed %}
