<ol class="BreadcrumbList">
    {% for key, breadcrumb in breadcrumbList|slice(0, -1) %}
        <li><a href="{{ breadcrumb.url|default(breadcrumb) }}">{{ breadcrumb.label|default(key) }}</a></li>
    {% endfor %}
</ol>
