<div class="Panel">
    <div class="Panel-body">
        <table class="details">
            <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ team.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
