<a href="{{ url('app_work_item_show', {key: work_item.key}) }}"
   class="chip"
   title="{{ work_item.title }}"
>
    <span class="chip-label">{{ work_item.title }}</span>
    <code>{{ work_item.key }}</code>
</a>
