<form method="post" action="{{ path('app_work_item_delete', {key: work_item.key}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work_item.id) }}">
    <button class="button button--danger">Delete</button>
</form>
