{% extends 'base.html.twig' %}

{% block body %}
    <div class="page">
        {{ include('include/breadcrumb_list.html.twig', {
            breadcrumbList: {
                'Home': path('app_dashboard')
            }}
        ) }}
        <div class="page-header">
            <h1>{{ pageTitle }}</h1>
            <a href="{{ newPath }}" class="button button--primary">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#fff"><path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z"/></svg>
                <span>New {{ singluarTitle }}</span>
            </a>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}
