{% extends 'base.html.twig' %}

{% block body %}
    <div class="page">
        {{ breadcrumbList ? include('include/breadcrumb_list.html.twig', {breadcrumbList}) }}
        <div class="page-header">
            <h1>{{ pageTitle }}</h1>
            <div class="page-header-actions">
                <a class="button" href="{{ editUrl }}">Edit</a>
                {{ deleteForm|raw }}
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}
