<a href="{{ path('app_organisation_show', {id: organisation.id }) }}"
   class="Chip"
   title="{{ organisation.name }}"
   target="_top"
>
    <span class="chip-label">{{ organisation.name }}</span>
</a>
