<div class="Panel">
    <div class="Panel-body">
        <table>
            <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ organisation.id }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ organisation.name }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ organisation.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>