{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <div class="page">
        <div class="page-header">
            <h1>{{ block('title') }}</h1>
        </div>
        <div style="display: grid; gap: 16px;">
            <section class="panel">
                <header class="panel-header">
                    <h2 class="panel-heading">Panel Header</h2>
                </header>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deserunt, dolore eligendi exercitationem incidunt ipsa iure iusto obcaecati possimus praesentium provident reiciendis, rem repellat repudiandae suscipit totam voluptate voluptates voluptatibus.
                </div>
            </section>
            <section class="panel">
                <header class="panel-header">
                    <h2 class="panel-heading">Panel Header</h2>
                    <div class="panel-actions">
                        <button class="button button--small">Button</button>
                    </div>
                </header>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deserunt, dolore eligendi exercitationem incidunt ipsa iure iusto obcaecati possimus praesentium provident reiciendis, rem repellat repudiandae suscipit totam voluptate voluptates voluptatibus.
                </div>
                <footer class="panel-footer">
                    <div class="panel-actions">
                        <button class="button">Button</button>
                    </div>
                </footer>
            </section>

        </div>
    </div>
{% endblock %}
