<button {{ attributes }} class="button">
    {{ startIcon|default ? component('Icon', {icon: startIcon}) }}
    <span>{{ label }}</span>
    {{ endIcon|default ? component('Icon', {icon: endIcon}) }}
</button>