<a href="{{ url('app_project_show', {key: project.key}) }}"
   class="chip"
   title="{{ project.name }}"
   target="_top"
>
    <span class="chip-label">{{ project.name }}</span>
    <code>{{ project.key }}</code>
</a>
