<p>
    <a href="{{ path('app_project_new', {key: project.key}) }}"
       data-action="drawer-manager#openUrlInDrawer"
    >
        New
    </a>
</p>

<div class="Panel">
    {{ form(form) }}
</div>